body {
    background-color: gray;
    min-height: 100vh;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}

.flex-item {
    flex: 1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    /* min-height: 100vh; */
    margin: 10px;
    padding: 50px;
}

.card {
    height: 100px;
}

.card-header {
    background-color: skyblue !important;
    text-align: center;
}

.card-body {
    text-align: center;
    vertical-align: baseline;
}

#char {
    font-size: 100px;
    text-align: center;
}

.buttonContainer {
    position: absolute;
    top: 15px;
    right: 15px;
}
.tableButton {
    background-color: transparent;
    border: dodgerblue solid 2px;
    border-radius: 5px;
    font-weight: bold;
    color: dodgerblue
}

.hidden {
    display: none;
}
.showBlock {
    display: block;
}

#asciiTable {
    width: 100%;
}