body {
    background-color: gray;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}

.flex-item {
    flex: 1;
}

#flex-container {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    margin: 10px;
    padding: 50px;
}

.card {
    height: 100px;
}

.card-header {
    background-color: skyblue !important;
    text-align: center;
}

.card-body {
    text-align: center;
    vertical-align: baseline;
}

#char {
    font-size: 100px;
    text-align: center;
}